:root {
  --black-color: #0D0630;
  --background-color: #65D46E;
}
  
.Home {
  text-align: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
  
.project-area {
  height: 100%;
  background-color: var(--background-color);
}