:root {
    --black-color: #0D0630;
    --background-color: #65D46E;
    --li-hover-color: #979aaa;
    --white-color: #f1f1f5;
  }

.card-closed {
    width: 150px;
    height: 200px;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.card-closed:hover, .card-open:hover {
    cursor: pointer;
    color: var(--background-color);
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 5%;
    margin: 0 80px 0 80px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fade-in 0.5s linear;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #333;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 772px) {
    .card-closed {
        width: 60px; /* Adjust the width for smaller screens */
        height: 100px; /* Adjust the height for smaller screens */
        font-size: x-small;
    }
}