:root {
    --black-color: #0D0630;
    --background-color: #65D46E;
}

.logo-image {
    max-height: 90px;
    border: 5px white solid;
    border-radius: 50%;
}

.new-project {
    padding: 5px;
}

.submit-button {
    background-color: var(--black-color);
    padding: 0 10px 0 10px;
    margin: 0 5px 0 5px
}

.submit-button:hover {
    cursor: pointer;
}

.artist-input {
    color: var(--black-color);
}