:root {
  --black-color: #0D0630;
  --background-color: #65D46E;
}

body, html {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
  /* border: 5px red solid; */
  margin: 0;
  padding: 0;
}

.project-area {
  height: 100%;
  background-color: var(--background-color);
}